@page "/acercade"

<h3>The 4 Developers - Integrantes</h3>
<div class="row justify-content-center py-4">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div><b>Miguel Angel Peña Santos</b></div>
                <div>2018-6717</div>
            </li>
            <li class="list-group-item">
                <div><b>Onily Celivech Valera Trinidad</b></div>
                <div>2018-6717</div>
            </li>
            <li class="list-group-item">
                <div><b>Ronny Yoel Pérez Cuevas</b></div>
                <div>2017-5482</div>
            </li>
            <li class="list-group-item">
                <div><b>Elian Pérez</b></div>
                <div>2018-6717</div>
            </li>
        </ul>
    </div>
</div>

@code {

}
